* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* display inline */
/* limitado, elementos lado a lado, gosta de dividir espaço lateral */
/* margin, padding etc n funciona */

main {
    border: 2px solid red;
    text-align: center;
}

div {
    border: 2px solid blue;
    display: inline;
    margin-right: 20px;
    padding-inline: 10px;
}